nav {
	display: flex;
	align-items: center;
	border-bottom: 3px solid white;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 40px);
	padding: 10px 20px;
	background: rgb(7, 7, 7);
	z-index: 5;
}
nav div {
	flex: 1;
}
nav div#logo {
	display: flex;
	align-items: center;
}
nav div#logo img {
	width: 50px;
	cursor: pointer;
}
nav div#logo button {
	background: none;
	border: none;
	font-size: 30px;
	margin-right: 20px;
	display: none;
	cursor: pointer;
}
nav ul {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	padding: 0 200px;
}
nav ul li {
	font-size: 25px;
	margin: 0 20px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
nav ul li::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 99%;
	right: 100%;
	background: white;
	transition: right .5s;
}
nav ul li:hover::after {
	right: 0;
}
nav div#buttons {
	display: flex;
	justify-content: flex-end;
}
nav div#buttons a {
	font-size: 30px;
	margin: 0 10px;
}
@media (max-width: 1100px) {
	nav div#logo button {
		display: initial;
	}
	nav ul {
		position: fixed;
		top: 70px;
		right: 100%;
		flex-direction: column;
		height: 100%;
		padding: 0;
		width: 60%;
		justify-content: flex-start;
		background: rgb(7, 7, 7);
		border-right: 3px solid white;
		transition: right .7s;
	}
	nav ul.opened {
		right: 40%;
	}
	nav ul li {
		margin: 20px 0;
		overflow: visible;
	}
	nav ul li::after {
		display: none;
	}
}